<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Практическая работа №1</title>
</head>
<body>
<form method="get" action="/Get">
    <input style="margin: 5px;" type="submit" value="Get"/>
</form>

<p>Впишите значения</p>

 <form method="post" action="/Post">
    <input style="margin: 10px;" type="Value1" name="Value1" id="Value1"/><br>
     <p>Выберите действие</p>
    <select style="margin: 10px;" name="Operations" id="Operations">
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select><br>
    <input style="margin: 10px;" type="Value2" name="Value2" id="Value2"/><br>
    <input style="margin: 10px;" type="submit" value="Итог"/>
</form>
</body>
</html>